

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #09061C;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
.loader {
	display: flex;
	align-items: center;
	height: 200px;
}

.loader_bar {
	background: #46FFFD;
	width: 30px;
	margin: 0 20px;
	animation: bar-animation 1s ease-in-out infinite ;
	animation-fill-mode: forwards;
}
.second {
	animation: bar-animation 1s ease-in-out infinite 0.15s;
}
.third {
	animation: bar-animation 1s ease-in-out infinite 0.3s;
}

.fourth {
	animation: bar-animation 1s ease-in-out infinite 0.45s;
}

@keyframes bar-animation {
	0% {
		height: 70px;
	}
	50% {
		height: 200px;
	}
	100% {
		height: 70px;
	}
}


