.nav {
}
.site-title {
    background: #FED531;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.nav-1, .nav-2, .nav-3 {
    background: #FDC1CB;
}

.nav-1 {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.nav-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
}

.nav-3 {
    grid-column: 6;
    grid-row: 1;
}

.post-title {
    background: #afd8e5;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end:5;
}
.post-meta {
    background: #97EC94;
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 7;
}

.main-content {
    background: #D3D3D3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.main-content-image {
    background: #FFFC38;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}

.footer{
    background: #A08880;
    grid-row: 7;
    grid-column-start: 1;
    grid-column-end: 7;
}

.side-bar {
    background: #FCAA4C;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
}

.ads {
    background: #1C7E12;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 7;
}

.other-stuffs {
    background: #DB50F8;
    grid-row: 6;
    grid-column-start: 5;
    grid-column-end: 7;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 150px 100px 50px 150px;
    grid-template-rows: 100px 100px 100px 100px 100px 200px 100px;
}
div {
    border: 2px solid white;
    box-sizing: border-box;
}