<template>
    <div id="app">
        <div class="red" @click="ctx.strokeStyle = '#FF0000'"></div>
        <div class="blue" @click="ctx.strokeStyle = '#0000FF'"></div>
        <div class="green" @click="ctx.strokeStyle = '#00FF00'"></div>
        <input type="range" v-model="size" min="1" max="20">
        <button @click="mode='mirror'">Toggle Mirror Mode</button>
        <button @click="mode='line'">Line</button>
        <button @click="mode='rubber'">Toggle Rubber</button>
        <button @click="mode='rectangle'">Rectangle</button>
        <button @click="rainbowColors = !rainbowColors">Rainbow color brush</button>
        <button @click="mode='image'">Image placing</button>
        <input type="file" id="image" v-if="mode==='image'" @change="changeSelectedImage">
        <canvas ref="canvas" @mousedown="mouseDown" @mousemove="mouseMove" @mouseup="mouseUp" width="700" height="700">
        </canvas>
      <slider></slider>
    </div>
</template>

<script>

    import Slider from "./components/Slider";
    export default {
      name: 'app',
      components: {Slider},
      data() {
        return {
          ctx: null,
          isMouseDown: false,
          prevX: -1,
          prevY: -1,
          prevMirrorX: -1,
          prevMirrorY: -1,
          size: 1,
          mode: 'line',
          selectedImage: null,
          rainbowColors: false
        }
      },
      mounted() {
        this.ctx = this.$refs.canvas.getContext("2d");
        this.ctx.strokeStyle = "#FF0000";
        window.addEventListener('mouseup', this.mouseUp);
      },
      methods: {
        mouseDown(event) {
          const offsetX = event.target.offsetLeft;
          const offsetY = event.target.offsetTop;
          const x = event.x - offsetX;
          const y = event.y - offsetY;
          this.isMouseDown = true;
          if (this.mode === 'image') {
            this.ctx.drawImage(this.selectedImage, x, y);
          }
          if(this.mode === 'rectangle') {
            this.prevX = x;
            this.prevY = y;
          } else {
            this.prevX = -1;
            this.prevY = -1;
          }
          this.prevMirrorX = -1;
          this.prevMirrorY = -1;

        },
        mouseMove(event) {
          if (this.isMouseDown && (this.mode === 'rubber' || this.mode === 'line' || this.mode === 'mirror')) {
            const offsetX = event.target.offsetLeft;
            const offsetY = event.target.offsetTop;
            const x = event.x - offsetX;
            const y = event.y - offsetY;
            const widthHalf = event.target.offsetWidth / 2;
            console.log(this.mode);
            if (this.mode === 'rubber') {
              this.ctx.clearRect(x, y, this.size, this.size);
            } else {
              if (this.prevX === -1 || this.prevY === -1) {
                this.drawRect(x, y);
                if (this.mode === 'mirror') {
                  this.drawRect(x > widthHalf ? widthHalf - (x - widthHalf) : widthHalf + (widthHalf - x), y, true);
                }
              } else {
                this.drawLine(x, y);
                if (this.mode === 'mirror') {
                  this.drawLine(x > widthHalf ? widthHalf - (x - widthHalf) : widthHalf + (widthHalf - x), y, true);
                }
              }
              this.prevX = x;
              this.prevY = y;

            }
          }
        },
        drawLine(x, y, isMirror) {
          this.ctx.beginPath();
          if (isMirror) {
            this.ctx.moveTo(this.prevMirrorX, this.prevMirrorY);
          } else {
            this.ctx.moveTo(this.prevX, this.prevY);
          }
          this.ctx.lineTo(x, y);
          this.ctx.lineWidth = this.size;
          this.ctx.stroke();
          this.prevX = x;
          this.prevY = y;
          if (isMirror) {
            this.prevMirrorX = x;
            this.prevMirrorY = y;
          }
        },
        drawRect(x, y, isMirror) {
          this.ctx.fillStyle = this.ctx.strokeStyle;
          this.ctx.fillRect(x, y, this.size, this.size);
          if (isMirror) {
            this.prevMirrorX = x;
            this.prevMirrorY = y;
          }
        },
        mouseUp(event) {
          this.isMouseDown = false;
          if(this.mode === 'rectangle') {
            const offsetX = event.target.offsetLeft;
            const offsetY = event.target.offsetTop;
            const x = event.x - offsetX;
            const y = event.y - offsetY;
            this.ctx.fillRect(this.prevX, this.prevY, x - this.prevX, y - this.prevY);

          }
        },
        changeSelectedImage(event) {
          let img = new Image();

          let files = event.target.files; // FileList object
          let file = files[0];
          if (file.type.match('image.*')) {
            let reader = new FileReader();
            // Read in the image file as a data URL.
            reader.readAsDataURL(file);
            console.log(file);

            reader.onload =  (evt) => {
              console.log(evt);
                img.src = evt.target.result;
                this.selectedImage = img;
                console.log('done');
            }
          }
        }
      }
    }
</script>

<style lang="scss">
    body {
        margin: 0
    }

    canvas {
        margin-top: 50px;
        margin-left: 50px;
        width: 700px;
        height: 700px;
    }

    .red, .blue, .green {
        height: 20px;
        width: 20px;
    }

    .red {
        background: red;
    }

    .blue {
        background: blue;
    }

    .green {
        background: green;
    }

</style>
