<template>
    <div class="slider">
        <div class="slider-color" :style="color">
            <p>
                rgb({{red}}, {{green}}, {{blue}})
            </p>
        </div>
        <input type="range" v-model="red" min="0" max="255">
        <input type="range" v-model="green" min="0" max="255">
        <input type="range" v-model="blue" min="0" max="255">
    </div>
</template>

<script>
    export default {
        name: "Slider",
        data() {
            return {
                red: 0,
                blue: 0,
                green: 0
            }
        },
        computed: {
            color() {
                return {
                    backgroundColor: `rgba(${this.red},${this.green}, ${this.blue})`
                }
            }
        }
    }
</script>

<style scoped>

    .slider-color {
        height: 400px;
        width: 600px;
    }

    input[type="range"] {
        display: block;
        width: 400px;
        marign-bottom: 20px;
    }

</style>