* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #29303b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scene {
	width: 200px;
	height: 200px;
	perspective: 600px;
	margin: 0 200px;
	perspective-origin: 50% 100%;
}

.rotateY .cube {
	animation: rotate-y 6s ease-in-out infinite;
	transform-style: preserve-3d;
}

.rotateX .cube {
	animation: rotate-x 6s ease-in-out infinite;
	transform-style: preserve-3d;
}

@keyframes rotate-y {
	0% {
		transform: rotateX(-45deg) rotateY(45deg);
		animation-timing-function: ease-in-out;

	}
	25% {
		transform: rotateX(-45deg) rotateY(-45deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform: rotateX(-45deg) rotateY(-135deg);
		animation-timing-function: ease-in-out;
	}
	75% {
		transform: rotateX(-45deg) rotateY(-220deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: rotateX(-45deg) rotateY(-315deg);
		animation-timing-function: ease-in-out;
	}
}

@keyframes rotate-x {
	0% {
		transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0);
	}
	25% {
		transform: rotateX(-45deg) rotateY(-45deg) rotateZ(90deg);
	}
	50% {
		transform: rotateX(-45deg) rotateY(-45deg) rotateZ(180deg);
	}
	75% {
		transform: rotateX(-45deg) rotateY(-45deg) rotateZ(270deg);
	}
	100% {
		transform: rotateX(-45deg) rotateY(-45deg) rotateZ(360deg);
	}
}

.cube {
	width: 100%;
	height: 100%;
	position: relative;
}

.cube span {
	flex: 0 0 33.3%;
	border: 3px solid white;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
}

.back {
	background: rgba(247, 103, 71,0.9);
	transform: rotateY(180deg) translateZ(100px);
}

.right {
	background: rgba(18, 184, 134,0.9);
	transform: rotateY(90deg) translateZ(100px);
}

.left {
	background: rgb(76, 110, 245,0.9);
	transform: rotateY(-90deg) translateZ(100px);
}

.top {
	background: rgba(250, 176, 5,0.9);
	transform: rotateX(90deg) translateZ(100px);
}

.bottom {
	background: rgba(121, 80, 242,0.9);
	transform: rotateX(-90deg) translateZ(100px);
}


.front {
	background: rgba(250, 82, 82,0.9);
	transform: rotateY(0deg) translateZ(100px);
}